{{define "data"}}
<div x-data="file" class="rounded-sm border border-gray-300">
    <div class="relative">
        <h2 class="flex w-full p-1 bg-gray-200 h-14 items-center text-xl font-semibold">{{title .name}} Data</h2>
        <template x-if="have_file">
            <div class="absolute inset-y-0 right-0 flex items-center px-2 pointer-events-none">
                <svg class="w-7 h-7 mr-3 fill-gray-200 stroke-indigo-600 icon">
                    <use xlink:href="/static/sprites.svg#adjustments" />
                </svg>
                <span
                    class="px-4 py-2 rounded-full text-gray-200 bg-indigo-600 font-semibold text-sm flex align-center w-max cursor-pointer active:bg-gray-300 transition duration-300 ease">
                    <svg class="w-5 h-5 fill-gray-100 stroke-gray-200 icon">
                        <use xlink:href="/static/sprites.svg#document-text" />
                    </svg>
                    <span x-bind="chip" class="pointer-events-none"></span>
                    <svg x-bind="remove" class="w-5 h-5 ml-3 fill-gray-200 stroke-gray-200 icon pointer-events-auto">
                        <use xlink:href="/static/sprites.svg#x" />
                    </svg>
                </span>
            </div>
        </template>
        <template x-if="!have_file">
            <label for="{{.name}}" class="absolute inset-y-0 right-0 flex items-center px-2">
                <svg class="w-7 h-7 mr-3 fill-indigo-600 stroke-indigo-600 icon">
                    <use xlink:href="/static/sprites.svg#plus" />
                </svg>
            </label>
        </template>
        <input id="{{.name}}" type="file" x-bind="input"
            accept=".txt,.csv,.tsv,.tab,text/plain,text/csv,text/tab-separated-values" hidden>
    </div>
    <div x-bind="options" class="p-1 flex flex-wrap items-center">
        <div class="flex h-10 md:w-full items-center text-lg font-semibold">Color Spectrum</div>
        <label class="md:w-1/6 text-right pr-3">Low</label>
        <input
            class="md:w-1/6 h-10 py-0.5 px-1.5 m-0 border border-gray-300 rounded-md focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
            type="color" value="{{ .low }}">
        <label class="md:w-1/6 text-right pr-3">Mid</label>
        <input
            class="md:w-1/6 h-10 py-0.5 px-1.5 m-0 border border-gray-300 rounded-md focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
            type="color" value="{{ .mid }}">
        <label class="md:w-1/6 text-right pr-3">High</label>
        <input
            class="md:w-1/6 h-10 py-0.5 px-1.5 m-0 border border-gray-300 rounded-md focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
            type="color" value="{{ .high }}">
        <div class="flex h-10 md:w-full items-center text-lg font-semibold">Color Conversion</div>
        <label class="md:w-1/6 text-right pr-3">Bins</label>
        <input
            class="md:w-1/6 h-10 text-right tabular-nums border border-gray-300 rounded-md focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
            type="text" value="{{ .bins }}">
        <label class="md:w-1/6 text-right pr-3">Limit</label>
        <input
            class="md:w-1/6 h-10 text-right tabular-nums border border-gray-300 rounded-md focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
            type="text" value="{{ (index .limit 0) }} : {{ (index .limit 1) }}">
    </div>
</div>
{{end}}
