<!DOCTYPE html>
<html>

<head>
    <title>Pathview</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link href="/static/pathview.css" rel="stylesheet">
    <script src="/static/pathview.js" defer></script>
</head>

<body>
    <div class="antialiased text-gray-700 px-6">
        <div class="max-w-xl mx-auto pyx-12 divide-y md:max-w-4xl">
            <div class="py-12 mt-8 flex flex-col space-y-4">

                {{- template "species"}}
                {{- template "data" .gene}}
                {{- template "data" .compound}}
                {{- template "pathway"}}
                <!-- {{- template "output"}} -->

            </div>
        </div>
    </div>
</body>

</html>
