BASE_URL="http://[::]/"
LISTEN="pathview-web:8000"

GIN_MODE=debug
SESSION_AUTH_KEY=base64:secret-64-byte-base64-encoded-key
SESSION_ENC_KEY=base64:secret-32-byte-base64-encoded-key
CSRF_KEY=base64:secret-32-byte-base64-encoded-key

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT=http://localhost/login/google/callback

POSTGRES_HOST=postgres

REDIS_ADDR="redis:6379"
