@tailwind base;
@tailwind components;
@tailwind utilities;

.icon-check {
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 fill=%27%236b7280%27 viewBox=%270 0 20 20%27%3e%3cpath fill-rule=%27evenodd%27 d=%27M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z%27 clip-rule=%27evenodd%27 /%3e%3c/svg%3e");
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
}
